{% extends 'project/home.html' %}
<br />
{% block title %} Task edit {% endblock title%}
<br />
{%block content%}

<div class="border border-success rounded mt-3 py-4" style="width: auto; height: auto">
  <form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <label class="mr-sm-2">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          value="{{ task.name }}"
        />
      </div>
      <div class="col-sm-2">
        <label class="mr-sm-4">Status</label>
        <select name="status" class="custom-select mr-sm-2">
          <option value="runing" 
          {% if task.status == 'runing' %}selected{% endif %}>
          Runing
          </option>
          
          <option value="done" 
          {% if task.status == 'done' %}selected{% endif %}>
          Done
          </option>
        </select>
      </div>

      <div class="col-sm-2">
        <br>
        <button type="submit" class="btn btn-outline-primary mt-2">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
